<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>CreateOrEditOffer</title>

    <!-- Styles -->
    <th:block th:replace="~{fragments/fragments :: styles}" />
  </head>
  <body>
    <!-- Header -->
    <th:block th:replace="~{fragments/fragments :: header}" />

    <div class="container">
      <main>
        <div class="d-flex justify-content-between align-items-center mt-5">
          <div>
            <h1 th:if="${edit}">Edit offer "[[${offer.title}]]" to pizza "[[${offer.pizza.name}]]"</h1>
            <h1 th:unless="${edit}">Add offer to pizza "[[${offer.pizza.name}]]"</h1>
          </div>

          <div>
            <a class="btn btn-dark" th:href="@{/pizzas/{id}(id = ${offer.pizza.id})}"
              >Back to pizza</a
            >
          </div>
        </div>

        <hr />

        <!-- Offer form -->
        <form
          id="pizza-form"
          method="POST"
          th:action="${edit} ? @{/offers/edit/{id}(id = ${offer.id})} : @{/offers/create}"
          th:object="${offer}"
          class="row g-3 mt-3"
        >
          <input type="hidden" th:field="*{pizza}" />

          <div class="col-12">
            <label for="title" class="form-label">Offer title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              th:field="*{title}"
              th:errorClass="is-invalid"
            />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
              <ul>
                <li
                  th:each="error : ${#fields.errors('title')}"
                  th:text="${error}"
                ></li>
              </ul>
            </div>
          </div>

          <div class="col-12">
            <label for="startDate" class="form-label">Start date</label>
            <input
              type="date"
              class="form-control"
              id="startDate"
              th:field="*{startDate}"
              th:errorClass="is-invalid"
            />
            <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('startDate')}"
            >
              <ul>
                <li
                  th:each="error : ${#fields.errors('startDate')}"
                  th:text="${error}"
                ></li>
              </ul>
            </div>
          </div>

          <div class="col-12">
            <label for="endDate" class="form-label">Ending date</label>
            <input
              type="date"
              class="form-control"
              id="endDate"
              th:field="*{endDate}"
              th:errorClass="is-invalid"
            />
            <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('endDate')}"
            >
              <ul>
                <li
                  th:each="error : ${#fields.errors('endDate')}"
                  th:text="${error}"
                ></li>
              </ul>
            </div>
          </div>

          <div class="mt-4">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </main>
    </div>

    <!-- Scripts -->
    <th:block th:replace="~{fragments/fragments :: scripts}" />
  </body>
</html>
